

#####################################################################
# 	Macros
#####################################################################
[gcode_macro FullBeams]
gcode:
    SET_PIN PIN=caselight VALUE=1.00
    SET_PIN PIN=bedlight VALUE=1.00
    
[gcode_macro test]
gcode: 
    M118 {printer["temperature_sensor enclosure_temp"].temperature}
    
[gcode_macro PreHeat]
gcode: 
    SET_FAN_SPEED FAN=nevermore SPEED=1
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=115

[gcode_macro AmorimPrintStartSimulation]
default_parameter_CHAMBER_TEMP: 28
default_parameter_BED_TEMP: 95
default_parameter_EXTRA_BED_TEMP: 5
gcode:
    M140 S{BED_TEMP|int + EXTRA_BED_TEMP|int}
    M117 Heating Bed
    M118 Heating Bed
    WaitForChamberTemp CHAMBER_TEMP={CHAMBER_TEMP|float}
    WaitForChamberTemp CHAMBER_TEMP={CHAMBER_TEMP|float}
    WaitForChamberTemp CHAMBER_TEMP={CHAMBER_TEMP|float}
    WaitForChamberTemp CHAMBER_TEMP={CHAMBER_TEMP|float}
    WaitForChamberTemp CHAMBER_TEMP={CHAMBER_TEMP|float}
    WaitForChamberTemp CHAMBER_TEMP={CHAMBER_TEMP|float}
    WaitForChamberTemp CHAMBER_TEMP={CHAMBER_TEMP|float}
    WaitForChamberTemp CHAMBER_TEMP={CHAMBER_TEMP|float}
    WaitForChamberTemp CHAMBER_TEMP={CHAMBER_TEMP|float}
    WaitForChamberTemp CHAMBER_TEMP={CHAMBER_TEMP|float}
    WaitForChamberTemp CHAMBER_TEMP={CHAMBER_TEMP|float}
    WaitForChamberTemp CHAMBER_TEMP={CHAMBER_TEMP|float}
    WaitForChamberTemp CHAMBER_TEMP={CHAMBER_TEMP|float}
    WaitForChamberTemp CHAMBER_TEMP={CHAMBER_TEMP|float}
    WaitForChamberTemp CHAMBER_TEMP={CHAMBER_TEMP|float}
    M117 chamber heated, proceeding
    M118 chamber heated, proceeding

[gcode_macro WaitForChamberTemp]
default_parameter_CHAMBER_TEMP: 28
gcode:
    {% if printer["temperature_sensor enclosure_temp"].temperature|float < CHAMBER_TEMP|float %}
        M117 Chamber not yet up to temp, waiting 30 secs, it's at {printer["temperature_sensor enclosure_temp"].temperature} and target is {CHAMBER_TEMP}
        M118 Chamber not yet up to temp, waiting 30 secs, it's at {printer["temperature_sensor enclosure_temp"].temperature} and target is {CHAMBER_TEMP}
        G4 P30000
    {% else %}
        M117 Chamber up to temp, skipping wait, actual was at {printer["temperature_sensor enclosure_temp"].temperature} and target was {CHAMBER_TEMP}
        M118 Chamber up to temp, skipping wait, actual was at {printer["temperature_sensor enclosure_temp"].temperature} and target was {CHAMBER_TEMP}
    {% endif %}

[gcode_macro ToggleLights]
gcode:
    {% if printer["output_pin caselight"].value == 1 %}
        SET_PIN PIN=caselight VALUE=0
        SET_PIN PIN=bedlight VALUE=0
        M117 Lights Off
        M118 Lights Off
    {% else %}
        {% if printer["output_pin caselight"].value == 0 %}
            SET_PIN PIN=caselight VALUE=0.2
            M117 Lights On
            M118 Lights On
        {% else %}
            SET_PIN PIN=caselight VALUE=1
            SET_PIN PIN=bedlight VALUE=1
            M117 Full Beams
            M118 Full Beams
        {% endif %}
    {% endif %}

[gcode_macro G32]
gcode:
    BED_MESH_CLEAR
    G28
    QUAD_GANTRY_LEVEL
    G28
    BED_MESH_PROFILE LOAD=default
    G0 X175 Y175 Z30 F18000
   
[gcode_macro _PRINT_START_OLD]
#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
gcode:
    G32                            ; home all axes
    G1 Z20 F18000                   ; move nozzle away from bed

[gcode_macro PRINT_START]
default_parameter_BED_TEMP: 37
default_parameter_EXTRA_BED_TEMP: 5
default_parameter_EXTRUDER_TEMP: 190
default_parameter_CHAMBER_TEMP: 30
default_parameter_MM: 0
variable_yline: 20
gcode:
    BED_MESH_CLEAR
    #SET_FRAME_COMP ENABLE=0
    SET_GCODE_OFFSET Z=0
    ;Lower acceleration
    SET_VELOCITY_LIMIT ACCEL=1000 ACCEL_TO_DECEL=500
    SET_PIN PIN=caselight VALUE=0.20
    M140 S{BED_TEMP|int + EXTRA_BED_TEMP|int}
    M117 Heating Bed
    M118 Heating Bed
    ;Set bed fan speed to minimum
    SET_FAN_SPEED FAN=nevermore SPEED=1 ;turn on Nevermore
    #SET_FAN_SPEED FAN=bed_fan SPEED=0.2
    #hour_counter_on
    M117 Positioning Printhead
    M118 Positioning Printhead
    G28 X Y
    Attach_Probe_Lock
    G28 Z
    G0 X175 Y175 Z40 F6000
    #hour_counter_off
    M117 Heating Extruder
    M118 Heating Extruder
    M104 S{EXTRUDER_TEMP}
    M117 Waiting for Bed temperature
    M118 Waiting for Bed temperature
    M190 S{BED_TEMP|int + EXTRA_BED_TEMP|int}
    M106 S255
    ;Set bed fan speed to help dissipate bed heat
    #SET_FAN_SPEED FAN=bed_fan SPEED=0.8
    M117 Waiting for Enclosure temperature
    M118 Waiting for Enclosure temperature
    TEMPERATURE_WAIT SENSOR="temperature_sensor enclosure_temp" MINIMUM={CHAMBER_TEMP}
    M106 S0
    M117 Waiting for Bed temperature
    M118 Waiting for Bed temperature
    M190 S{BED_TEMP}
    #M117 Moving over waste bucket
    #M118 Moving over waste bucket
    #hour_counter_on
    #G0 X175 Y305.5 Z20 F6000
    #M117 Cleaning Nozzle
    #CLEAN_NOZZLE
    M117 Gantry Leveling
    M118 Gantry Leveling
    QUAD_GANTRY_LEVEL
    #hour_counter_off
    M117 Heating Extruder
    M118 Heating Extruder
    M109 S{EXTRUDER_TEMP}
    M117 Final Homing
    M118 Final Homing
    #hour_counter_on
    G28
    ;BED_MESH_CALIBRATE 
    Dock_Probe_Unlock
    CLEAN_NOZZLE
    Attach_Probe_Lock
    CALIBRATE_Z
    Dock_Probe_Unlock
    BED_MESH_PROFILE LOAD=default
    #SET_FRAME_COMP ENABLE=1
    ;Set bed fan speed to printing speed
    #SET_FAN_SPEED FAN=bed_fan SPEED=0.9
    SET_FAN_SPEED FAN=nevermore SPEED=0.9 ;Nevermore to printing speed
    G0 Z20 F12000

    M83 ; use relative distances for extrusion
    G92 E0 ; Reset Extruder
    SET_VELOCITY_LIMIT ACCEL={printer.configfile.settings.printer.max_accel}
    SET_VELOCITY_LIMIT ACCEL_TO_DECEL={printer.configfile.settings.printer.max_accel_to_decel}
    M117 Printing



[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-10.0 F3600                ; retract filament
    G91                            ; relative positioning
    G0 Z1.00 X20.0 Y20.0 F20000    ; move nozzle to remove stringing
    SET_FAN_SPEED FAN=nevermore SPEED=1 ;turn on Nevermore
    M117 Cleaning air
    M118 Cleaning air
    TURN_OFF_HEATERS
    M107                           ; turn off fan
    G1 Z20 F18000                    ; move nozzle up 2mm
    G90                            ; absolute positioning
    G0  X350 Y350 F18000            ; park nozzle at rear
    BED_MESH_CLEAR
    flash
    UPDATE_DELAYED_GCODE ID=StopCleaningAir DURATION=300 ;5mins
    M117 Done Printing
    M118 Done Printing

[delayed_gcode StopCleaningAir]
gcode:
    SET_FAN_SPEED FAN=nevermore SPEED=0 ;turn off Nevermore
    M117 Done Cleaning air
    M118 Done Cleaning air
    SET_FAN_SPEED FAN=Exhaust SPEED=1 ;turn on exhaust
    M117 Exhausting
    M118 Exhausting
    UPDATE_DELAYED_GCODE ID=StopExhausting DURATION=60

[delayed_gcode StopExhausting]
gcode:
    SET_FAN_SPEED FAN=Exhaust SPEED=0 ;turn off exhaust
    M117 Done Exhausting
    M118 Done Exhausting

[gcode_macro flash]
gcode:
    SET_PIN PIN=caselight VALUE=1
    SET_PIN PIN=bedlight VALUE=1
    G4 P500
    SET_PIN PIN=caselight VALUE=0
    SET_PIN PIN=bedlight VALUE=0
    G4 P500
    SET_PIN PIN=caselight VALUE=1
    SET_PIN PIN=bedlight VALUE=1
    G4 P500
    SET_PIN PIN=caselight VALUE=0
    SET_PIN PIN=bedlight VALUE=0
    G4 P500
    SET_PIN PIN=caselight VALUE=1
    SET_PIN PIN=bedlight VALUE=1
    G4 P500
    SET_PIN PIN=caselight VALUE=0
    SET_PIN PIN=bedlight VALUE=0
    G4 P500
    SET_PIN PIN=caselight VALUE=1
    SET_PIN PIN=bedlight VALUE=1
    G4 P500
    SET_PIN PIN=caselight VALUE=0
    SET_PIN PIN=bedlight VALUE=0
    G4 P500
    SET_PIN PIN=caselight VALUE=1
    SET_PIN PIN=bedlight VALUE=1
    G4 P500
    SET_PIN PIN=caselight VALUE=0
    SET_PIN PIN=bedlight VALUE=0
    G4 P500
    SET_PIN PIN=caselight VALUE=1
    SET_PIN PIN=bedlight VALUE=1
    G4 P500
    SET_PIN PIN=caselight VALUE=0
    SET_PIN PIN=bedlight VALUE=0
    G4 P500
    SET_PIN PIN=caselight VALUE=1
    SET_PIN PIN=bedlight VALUE=1
    G4 P500
    SET_PIN PIN=caselight VALUE=0
    SET_PIN PIN=bedlight VALUE=0
    G4 P500
    SET_PIN PIN=caselight VALUE=1
    SET_PIN PIN=bedlight VALUE=1
    G4 P500
    SET_PIN PIN=caselight VALUE=0
    SET_PIN PIN=bedlight VALUE=0

[gcode_macro test_speed_fast]
gcode:
        G28 X0 Y0
        GET_POSITION
        G1 X0 Y0     F27000
        G1 X350 Y350 F27000
        G1 X0 Y0     F27000
        G1 X350 Y350 F27000

        G1 X0 Y350 F36000

        G1 X350 Y0 F27000
        G1 X0 Y350 F27000
        G1 X350 Y0 F27000
        G1 X0 Y350 F27000

        G1 X0 Y0 F36000
        G1 X350 Y0 F36000
        G1 X350 Y350 F36000
        G1 X0 Y350 F36000
        G1 X0 Y0 F36000
        G28 X0 Y0
        GET_POSITION

[gcode_macro PURGE_LINE]
# A purge line on the left of the bed to prime the extruder
gcode:
    G92 E0 ; zero/reset extruder
    G1 X2.2 Y2 Z0.3 F18000 ; move to start position
    #G1 E+15 F150 ; extrude to put the pressure (-20 from purge macro)
    G92 E0
    G1 X2.2 Y100 Z0.25 F1500 E10 ; extrude the first line
    G1 X2.5 Y100 Z0.3 F18000 ; move to side a little
    G1 X2.5 Y2 Z0.25 F1500.0 E20 ; extrude the second line
    G92 E0 ; zero/reset extruder
    G1 Z2.0 E-0.1 F3000 ; move nozzle up and retract tiny bit
    G92 E0

[gcode_macro UNLOAD_FILAMENT]
gcode:
    M83
    G1 E10 F300
    G1 E-200 F1800
    M82

[gcode_macro LOAD_FILAMENT]
gcode:
    M83
    G1 E90 F1800
    G1 E50 F300
    G1 E15 F150
    M82

######################################################################
# Filament Change
######################################################################

# M600: Filament Change. This macro will pause the printer, move the
# tool to the change position, and retract the filament 50mm. Adjust
# the retraction settings for your own extruder. After filament has
# been changed, the print can be resumed from its previous position
# with the "RESUME" gcode.

[pause_resume]

[gcode_macro M600]
gcode:
    {% set X = params.X|default(175)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    UNLOAD_FILAMENT
    RESTORE_GCODE_STATE NAME=M600_state

# Convert Marlin linear advance (M900) commands to Klipper (SET_PRESSURE_ADVANCE) commands.
# Used in conjunction with Marlin's linear advance calibration tool: 
# https://marlinfw.org/tools/lin_advance/k-factor.html
[gcode_macro M900]
gcode:
	# Parameters
	{% set pa = params.K|float %}
	
	SET_PRESSURE_ADVANCE ADVANCE={pa}